/* 

------ TYPOGRAPHY ------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS 
1.2 / 1.5

LETTER SPACING 
0 / -2PX

FONT FAMILY
poppins

------ COLORS ------

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base: #9775fa (Lavender)
Tint: #e5dbff (Moonlight iris)
Shade: #7048c8 (Velvet Night)

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GRAY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
white: #ffffff (white)
black: #000000 (black)


------- BORDER RADIUS -------
4px / 8px / 12px

*/

/* ------------- GLOBAL STYLES ------------- */
:root {
  --nav-height: 100px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #212529;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 6.2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3.2rem;
}
h5 {
  font-size: 2.4rem;
}
p,
a,
.small-text {
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}
p {
  font-size: 2rem;
}
a {
  text-decoration: none;
  font-size: 1.3rem;
  display: inline-block;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #495057;
}
ul {
  list-style: none;
}
span {
  display: inline-block;
}
.small-text {
  font-size: 1.2rem;
}

/* ------------- COMPONENTS ------------- */
.toggle-mode {
}
.btn {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 8px;
}

.btn-primary:link,
.btn-primary:visited {
  color: #ffffff;
  background-color: #339af0;
  border: 2px solid #339af0;
}
.btn-primary:hover,
.btn-primary:active {
  color: #ffffff;
  background: #1c7ed6;
  border: 2px solid #1c7ed6;
  transform: scale(1.05, 1.05);
  box-shadow: 0px 3px 6px #495057;
  transition: 0.5s;
}
.btn-primary-outline:link,
.btn-primary-outline:visited {
  color: #339af0;
  background-color: #ffffff;
  border: 2px solid #339af0;
}
.btn-primary-outline:hover,
.btn-primary-outline:active {
  color: #339af0;
  background-color: #ffffff;
  border: 2px solid #1c7ed6;
  transform: scale(1.05, 1.05);
  box-shadow: 0px 3px 6px #495057;
  transition: 0.5s;
}
.btn-secondary:link,
.btn-secondary:visited {
  color: #ffffff;
  background-color: #ff922b;
  border: 2px solid #ff922b;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: #ffffff;
  background-color: #7048e8;
  border: 2px solid #7048e8;
  transform: scale(1.05, 1.05);
  box-shadow: 0px 3px 6px #495057;
  transition: 0.5s;
}
.highlight {
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.highlight-primary {
  background-color: #339af0;
}
.highlight-secondary {
  /* background-color: #9775fa; */
  background-color: #ff922b;
}
.highlight-tertiary {
  background-color: #ff922b;
}
.logo-md {
  width: 30px;
  border-radius: 15px;
}
.logo-sm {
  width: 30px;
  border-radius: 15px;
}
.chat-container {
  height: 5rem;
  width: 5rem;
  background-color: #339af0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}
.chat-container:hover {
  transform: scale(1.05, 1.05);
  transition: 0.5s;
}
.chat-icon {
  width: 3rem;
  height: 3rem;
}
.beta {
  position: relative;
}
.beta::after {
  content: "beta";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  background-color: #ff922b;
  color: #ffffff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transform: translate(70%, -70%);
}
/* ------------- SECTIONS ------------- */

/* ----- HEADER ----- */
/* .header {
  height: 100vh;
  min-height: 800px;
} */

/* ----- NAVBAR ----- */
.navbar {
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-btn-container {
  display: flex;
  gap: 2rem;
}

/* ----- HERO SECTION ----- */

.hero-section {
  height: calc(100vh - var(--nav-height));
  min-height: 400px;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-heading {
  margin-bottom: 1rem;
  text-align: center;
}
.hero-paragraph {
  margin-bottom: 5rem;
  text-align: center;
}
.hero-btn-container {
  display: flex;
  gap: 2rem;
}

/* ----- FEATURES SECTION ----- */
.features-section {
  margin-bottom: 20rem;
}

.features-main-heading {
  text-align: center;
  margin-bottom: 8rem;
}
.features-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15rem;
  column-gap: 5rem;
  justify-items: center;
  align-items: center;
}
.feature-img-swap-order {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.feature-headings {
  margin-bottom: 2rem;
}
.feature-img {
  max-width: 400px;
  width: 100%;
}

/* ----- CTA SECTION ----- */

.cta-section {
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
}
.cta-card {
  text-align: center;
  background-color: #339af0;
  max-width: 1000px;
  padding: 7rem 20rem;
  border-radius: 20px;
}
.cta-heading {
  margin-bottom: 3rem;
  color: #ffffff;
  font-size: 3rem;
}
/* ----- FOOTER SECTION ----- */

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
}
.social-icons-container {
  display: flex;
  gap: 1.5rem;
}
.footer-links-container {
  display: flex;
  gap: 1rem;
}
.social-icons {
  width: 20px;
}
.heart-icon {
  color: #ff922b;
}
