* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  font-size: 62.5%;
}
.container {
  min-height: 100vh; /* fill height */
  display: flex; /* flex container */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  padding: 1.5rem; /* padding inside container */
  box-sizing: border-box; /* include padding in width */
  margin: 0 auto;
}
.form-container {
  box-shadow: 0px 3px 6px #495057;
  border-radius: 8px;
  text-align: center;
  /* margin: 100px auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 30px; */
  justify-content: center;
  max-width: 800px;
  width: 40%;
  padding-left: 1.5rem; /* add left padding */
  padding-right: 1.5rem; /* add right padding */
  box-sizing: border-box; /* so padding does not increase width */
  margin-left: auto; /* center horizontally */
  margin-right: auto;
}
h1 {
  font-size: 3rem;
  margin: 20px 0;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #339af0;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
label {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-direction: column;
  color: #495057;
  font-weight: 400;
}

/* ----- COMPONENT ----- */
input {
  width: 100%;
  padding: 8px 20px;
  padding-left: 5px;
  font-size: 15px;
  outline: none;
  margin: 10px 0;
}
input[type="text"] {
  caret-color: #339af0;
}
input[type="password"] {
  caret-color: #339af0;
}
.btn {
  width: 100%;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 3rem;
  /* color: #339af0; */
  color: #ffffff;
  /* background-color: #ffffff; */
  background-color: #339af0;
  border: 2px solid #339af0;
  cursor: pointer;
  font-weight: 600;
}

#username-error {
  color: #e10202;
  font-size: 1.1rem;
  margin-top: -8px;
}
#password-error {
  color: #e10202;
  font-size: 1.1rem;
  margin-top: -8px;
}
.register {
  color: #495057;
  font-size: 13px;
}
.register-link:link,
.register-link:active,
.register-link:visited {
  color: #495057;
  margin: 0 5px;
  text-decoration: none;
  font-size: 13px;
}
