/* LG - SMALL LAPTOPS: 1024px - 1280px */
@media (max-width: 72rem) {
  /* 1152px */
  html {
    font-size: 56.25%; /* 9px */
  }
  .form-container {
    width: 80%;
    max-width: 1000px;
  }
}

/* MD - TABLETS: 768px - 1024px */
@media (max-width: 51rem) {
  /* 816px */
  html {
    font-size: 50%; /* 8px */
  }
  .form-container {
    width: 90%;
    max-width: 800px;
    padding: 2rem;
  }
}

/* SM - PHONE LANDSCAPE: 576px - 768px */
@media (max-width: 43rem) {
  /* 688px */
  html {
    font-size: 43.75%; /* 7px */
  }
  .form-container {
    width: 95%;
    max-width: 600px;
    padding: 1.5rem;
  }

  input,
  label {
    font-size: 1.4rem;
  }
}

/* XS - PHONE PORTRAIT: < 576px */
@media (max-width: 34rem) {
  /* 544px */
  html {
    font-size: 37.5%; /* 6px */
  }

  .form-container {
    width: 100%;
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  input,
  label {
    font-size: 1.2rem;
  }

  .register,
  .register-link {
    font-size: 1.1rem;
    display: block;
    text-align: center;
    margin-top: 1rem;
  }
}
