/* LG - SMALL LAPTOPS: 1024px - 1280px */
@media (max-width: 72rem) {
  html {
    font-size: 56.25%; /* 9px */
  }
  .form-container {
    width: 80%;
    max-width: 1200px;
  }
}

/* MD - TABLETS: 768PX - 1024PX */
@media (max-width: 51rem) {
  html {
    font-size: 50%; /* 8px */
  }
  .form-container {
    width: 80%;
    max-width: 1200px;
  }
}

/* SM - PHONE LANDSCAPE: 576PX - 768PX */
@media (max-width: 43rem) {
  html {
    font-size: 43.75%; /* 7px */
  }
  .form-container {
    width: 80%;
    max-width: 1200px;
  }
}

/* XS - PHONE PORTRAIT: < 576px */
@media (max-width: 34rem) {
  html {
    font-size: 45%; /* 6px */
  }
  .form-container {
    width: 80%;
    max-width: 100%;
  }

  h1 {
    font-size: 2.4rem; /* override to keep heading readable */
    font-weight: 600;
  }
  .register {
    font-size: 1, 5rem;
    /* Keeping it inline: No block, no center, no margin-top */
    display: inline;
    text-align: left;
  }
  .register-link:link,
  .register-link:active,
  .register-link:visited {
    font-size: 1.5rem;
  }
}
