.merchant-dashboard-header {
  margin-bottom: 20px;
  /* background-color: red; */
}

.merchant-dashboard-header h1 {
  font-size: 20px;
}

.merchant-dashboard-header p {
  color: #666;
}

/* ===== MAIN SECTION ===== */
.main-section {
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-section {
  background: #f8f8f8;
  display: flex;
  flex: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 45px;
}

h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

button {
  padding: 8px 14px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}

.new-product-btn {
  background-color: #28a745;
  color: #fff;
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-card p {
  font-size: 14px;
}
.edit-btn {
  background-color: #666;
  color: #fff;
}

.delete-btn {
  background-color: rgb(186, 17, 17);
  color: #fff;
}

.delete {
  display: none;
}

/* ===== INCOMING ORDERS SECTION ===== */

.order-card {
  /* border: 1px solid black; */

  display: flex;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.id {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 0px;
  padding-top: 0px;
  flex: 1;
}

.id p {
  font-size: 13px;
}

.customer,
.order,
.item,
.delivery,
.status {
  background: #f8f8f8;
  padding: 15px 0px;
  color: black;
  width: 100%;
}

.order-card-btn-container {
  display: flex;
  flex-direction: column;

  gap: 5px;
  padding: 10px;
}

.accept-order-btn {
  background-color: green;
  color: whitesmoke;
  border: 2px solid green;
  font-size: 11px;
  border-radius: 3px;
}

.reject-order-btn {
  background-color: rgb(186, 17, 17);
  color: white;
  border: none;
  font-size: 11px;
}

.mark-ready-btn {
  background-color: green;
  color: #fff;
}

#logout {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

#logout button {
  background-color: rgb(186, 17, 17);
  color: #fff;
}
