body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  font-size: 62.5%;
}
.form-container {
  margin: 50px auto;
  padding: 1.5rem;
  box-shadow: 0px 3px 6px #495057;
  border-radius: 8px;
}
.container-heading {
  margin: 20px 0;
  color: #339af0;
  line-height: 1.5;
  letter-spacing: -2px;
  font-weight: 700;
}
form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
label {
  font-size: 14px;
  margin-top: 15px;
  font-weight: 550;
}
input {
  width: 100%;
  padding: 8px;
  padding-left: 5px;
  font-size: 14px;
  outline: none;
  margin: 10px 0;
}
#account-type {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  outline: none;
  margin: 2rem 0 1.5rem 0;
}
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
.btn {
  width: 100%;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 3rem;
  color: #ffffff;
  background-color: #339af0;
  border: 2px solid #339af0;
  cursor: pointer;
  font-weight: 600;
  margin-top: 2rem;
}
.btn:hover {
  background-color: #339bf0e1;
  border: 2px solid #339af0;
}
.register {
  color: #495057;
  font-size: 13px;
  margin: 10px 0;
}
.register-link:link,
.register-link:active,
.register-link:visited {
  color: #339af0;
  margin: 0 5px;
  text-decoration: none;
  font-size: 13px;
}
#firstname-error,
#lastname-error,
#error-password,
#email-error,
#account-type-error,
#checkbox-error {
  color: #e10202;
  font-size: 1.4rem;
  margin-top: -8px;
  margin-left: 2px;
}
#checkbox-error {
  margin-top: 8px;
}
