.request-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.request-intro h1 {
  font-size: 2.2rem;
}

.request-intro p {
  font-size: 1.5rem;
}

/* Request Form Section */
.request-form-section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 90%;
  max-width: 550px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input,
textarea {
  padding: 8px 12px;
  width: 100%;
  font-size: 1rem;
  outline: none;
}

.submit-btn {
  margin-bottom: 4rem;
}

button {
  color: #fff;
  background-color: #339af0;
  border: 2px solid #339af0;
  font-size: 1.5rem;
  padding: 0.8rem 2rem;
  border-radius: 2px;
  cursor: pointer;
}

button:active {
  background-color: #339af0;
}

button:hover {
  background-color: hsla(207, 67%, 51%, 0.888);
  transition: 0.3s ease-in;

  border: 2px solid hsla(207, 67%, 51%, 0.888);
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 3px;
}

.success-card {
  background-color: #f0f8ff;
  border: 2px solid #339af0;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

.success-card h2 {
  color: green;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

.success-card p {
  margin: 5px 0;
  font-size: 1.5rem;
}

.success-card.hidden {
  display: none;
}

#close-card {
  margin-top: 15px;
  cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .request-intro h1 {
    font-size: 2rem;
    text-align: center;
  }
  .form-group label {
    font-size: 1rem;
  }
}
